@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Unbounded;
}
body {
  background-color: #c95435;
  padding-bottom: 1em;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

main {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 1em;
}

.a-nav {
  background-color: #f8e12e;
  text-decoration: none;
  color: black;
  padding: 4px 8px;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
}

.active {
  background-color: black;
  text-decoration: none;
  color: #c95435;
  padding: 4px 8px;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
}

.logo-image {
  width: 100px;
}

h1 {
  font-size: 2.5em;
  color: #f8e12e;
}

.sub-title {
  font-size: 1.5em;
  background-color: #f8e12e;
  text-align: center;
}

.cover-image {
  width: 100%;
  height: 50vh;
  padding: 0.5em 0;
}

.home {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.a-box {
  border-radius: 10px;
  background-color: #f8e12e;
  padding: 0.5em;
  margin: 0.5em;
}

.s-about {
  padding: 1em 1em;
}

.indent {
  text-indent: 15px;
}

.indentx2 {
  text-indent: 35px;
}

.as-contact {
  text-align: center;
  margin: 1em 2.5em;
}

.a-mail {
  text-decoration: none;
  color: #f8e12e;
}

.r-title {
  font-size: 1em;
  text-align: center;
  padding: 1.5em 0;
}

.r-h4 {
  padding: 1.25em 0;
}

.r-content {
  padding: 1.5em 11em;
}

li {
  list-style-position: inside;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
  padding-left: 3em;
}

.r-p {
  padding-bottom: 1em;
}

.list-none {
  list-style-type: none;
}

.list-latin {
  list-style-type: lower-latin;
}

.r-section {
  display: flex;
  align-content: flex-start;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  padding: 1em 0;
}

.s-text {
  margin: 0 5em;
}

.s-table {
  padding-top: 1.5em;
  margin: 0 5em;
}

.s-info {
  padding: 1.5em 0;
  margin: 0 5em;
}

table {
  height: 40vh;
}

.s-padd {
  padding: 1em 0 1em 0;
}

.s-order {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

th,
td {
  text-align: left;
  padding: 0.5em 0.5em;
}

.t-c {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.rf-h1 {
  text-align: center;
}

form {
  font-size: 1em;
  padding: 0 2em;
  text-align: justify;
}

fieldset {
  border: none;
  padding: 0.5em;
}

.f-h3 {
  padding: 1.5em 0.5em;
}

.f-h4 {
  padding: 1.5em 0 0.5em 0;
}

iframe {
  border-radius: 1rem;
  border: 2px solid white;
  margin: 1em;
}

legend {
  font-weight: bold;
}

input[type="text"] {
  padding: 0.5em 0.5em;
  border: none;
  border-bottom: 0.2em solid #f8e12e;
  background-color: #c95435;
}

input[type="submit"] {
  width: 100%;
  background-color: #f8e12e;
  color: black;
  padding: 1em 1.5em;
  margin: 0.5em 0;
  cursor: pointer;
  border: none;
  border-radius: 0.5em;
}

input[type="radio"] {
  margin: 0 1em;
}

input[type="checkbox"] {
  margin: 0 1em;
}

input[type="date"] {
  margin: 0 1em;
  background-color: #c95435;
  padding: 0.5em 0.5em;
  border: none;
  border-bottom: 0.2em solid #f8e12e;
}
