@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Unbounded;
}

h1 {
    font-size: 2.5em;
    margin-top: 50px;
}

h3 {
    color: white;
    display: block;
    background-color: black;
    text-align: center;
    padding : 10px;
}

body {
    width : 900px;
    margin: 0 20px;
}

p {
    text-indent: 20px;
}

article {
    width: 600px;
    display: inline-block;
    padding: 20px 0px;
}

aside {
    padding: 10px;
}

nav {
    width: 150px;
    display: inline-block;
}


.cover-image {
    width: 100%;
    height: 300px;
}

.logo-image {
    width: 100px;
    display: block;
}

.nav-bar {
    padding: 20px 0px;
    display: block;
}

.active {
    text-decoration: none;
}

.section-about {
    padding: 10px;
}

